{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayNames": false,
                "preprocess": false
            }
        ]
    ]
}